<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notty: Notes Management & Revision Realated Software</title>

    <%- include("../include/head.ejs")%>
    <link rel="stylesheet" href="/css/home-page.css" />



  </head>
  <body>

    <%- include("../include/header.ejs") %>

    <main>
      <section class="sec-1">
        <div class="sec-1-par">
          <div class="sec-1-left">
            
            <div class="sec-left-content">
              The ultimate destination for all
              <a class="textDecorationGreen" href="#projectManagement"
                >your notes</a
              >
              and
              <a class="textDecorationGreen" href="#collaboration"
                >seamless revision.</a
              >
            </div>

            <p class="mb-3">
              <em
                ><span style="cursor: default"
                  ><strong>Previously:</strong></span
                ></em
              >
              Notes were scattered, finding their status was challenging, communication gaps prevailed, and users felt overwhelmed.
            </p>

            <p class="mb-3">
              <em
                ><span style="cursor: default"
                  ><strong>With Notty:</strong></span
                ></em
              >
              Everything is neatly organized, note progress is crystal clear, everyone's aligned, and users feel at peace.
            </p>

            <!-- <div class="sec-1-end">
              <div>
                <button>Start your free trial</button>
                <p><i class="ri-play-circle-line"></i>How Notty Works?</p>
              </div>
              <p class="no-credit">No credit card required. Cancel anytime.</p>
            </div> -->
          </div>
          <div class="sec-1-right">
            <img
              src="./img/home-page/notes.jpg"
              alt="notes.jpg"
            />
          </div>
        </div>
      </section>

      <div class="reviews">
        <div class="review">
          <div class="stars">
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
          </div>
          <p>"Embrace clarity and organization effortlessly with Notty at your fingertips."</p>
        </div>
        <div class="review">
          <div class="stars">
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
          </div>
          <p>"We can now effortlessly monitor note-taking progress."</p>
        </div>
        <div class="review">
          <div class="stars">
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
          </div>
          <p>"With Notty, enjoy budget-friendly note management without the worry of overspending."</p>
        </div>
      </div>

      
       
      <section class="sec-3">
        <div class="sec-3-par">
          <div class="sec-3-upper">
            <p id="projectManagement">NOTES MANAGEMENT</p>
            <h2>All your NOTES and Text in one place</h2>
            <nav class="sec-3-options">
              <div class="active-option-s3">Notes</div>
            </nav>
          </div>
          <div class="sec-3-lowwer">
            <div class="sec-3-all-content">
                <div class="sec-3-content">
                    <p class="content-title">Notes</p>
                    <p>
                      Organize, monitor, and oversee projects of any scale, from straightforward to intricate, all within a single, user-friendly platform that synchronizes your team efforts seamlessly.
                    </p>
                    <div>
                      <div><span>1</span> Create</div>
                      <div><span>2</span> Edit</div>
                      <div><span>3</span> Delete Anytime</div>
                      <div><span>4</span> Private</div>
                      <div><span>5</span> Best UI</div>
                      <!-- <p><a href="">Learn More</a></p> -->
                    </div>
                    <img src="/img/home-page/main-front.jpg" alt="content-img" class="content-img">
                    <!-- <button>Get started for free</button> -->
                </div>

            </div>
            <div class="sec-3-img">
              <img
              src="/img/home-page/main-front.jpg"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </section>

      <section class="sec-4">
        <div class="sec-4-par">
          <div class="sec-4-upper">
            <p id="collaboration">COLLABORATION(Our Upcoming feature)</p>
            <h2>All your team’s can communication in one place</h2>
            <nav class="sec-4-options hide-nav-450px">
              <div class="active-option-s4">Notty</div>
            </nav>
          </div>
          <div class="sec-4-lowwer">
            <div class="sec-4-all-content">
              <div class="sec-4-content">
                <p>Notty</p>
                <p>
                  Ensure your discussions stay organized, centered, and relevant with threaded conversations in Notty. Engage team members and stakeholders by including them in the discussion, ensuring everyone remains aligned. Consolidate all pertinent details pertaining to the topic within Notty, keeping information easily accessible and centralized.
                </p>
                <div class="learn-more">
                  <!-- <p class="learn-more"><a href="">Learn More</a></p> -->
                </div>
                <img src="/img/home-page/main-front.jpg" alt="content-img" class="content-img">
                <!-- <button>Get started for free</button> -->
              </div>
            </div>
            <div class="sec-4-img">
              <img
              src="/img/home-page/main-front.jpg"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </section>

      <section class="sec-5">
        <p>ONE TOOL</p>
        <h1>One unified platform for all your note-taking and collaboration essentials.</h1>
        <div class="tools">
          
          <div class="tool">
            <div>
              <i class="ri-input-field"></i>
            </div>
            <div>
              <h4>Custom fields</h4>
              <p>               
                Customize fields in your notes to input data tailored to your project's requirements. Incorporate relevant information into your notes and access them conveniently in one centralized location.
              </p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-mail-fill"></i>
            </div>
            <div>
              <h4>Email Notes</h4>
              <p>Receive feedback and capture requests from your team members and clients by emailing them to the designated email address for each note list. Save those addresses in your contacts for quick and easy addition of notes via email.</p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-translate-2"></i>
            </div>
            <div>
              <h4>Multi-lingual Notes</h4>
              <p>You can write in any language. Enjoy a multilingual interface and work in the language of your preference. Choose from a variety of languages including English, French, Spanish, Polish, Portuguese, and more.</p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-palette-fill"></i>
            </div>
            <div>
              <h4>Version Control</h4>
              <p>Keep track of changes in your files by uploading multiple versions. Easily revert to any previous version whenever needed, ensuring seamless collaboration and document management.</p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-menu-2-fill"></i>
            </div>
            <div>
              <h4>Forms</h4>
              <p>
                Efficiently organize notes, gather feedback, and compile essential data through customizable templates. Customize fields to capture specific details for each note, streamline feedback collection, and seamlessly compile information. Instantly transform notes into actionable notes for easy organization and follow-up.
              </p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-file-copy-2-line"></i>
            </div>
            <div>
              <h4>Custom Branding</h4>
              <p>Custom Branding of notes. Make your Plus Notty Account and uniquely yours by customizing it to match your brand's identity. Personalize it with a custom domain, your brand logo, and colors to maintain consistency and professionalism.</p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-calendar-2-fill"></i>
            </div>
            <div>
              <h4>Daily Planner</h4>
<p>Stay organized and focused with a clear agenda for each day. Easily prioritize notes and understand what needs to be accomplished, ensuring efficient workflow management.</p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-user-fill"></i>
            </div>
            <div>
              <h4>Project Management</h4>
              <p>Assign project managers for each project to oversee progress and ensure timely completion. Receive notifications for any potential delays and keep team members aligned and on schedule.</p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-shield-user-fill"></i>
            </div>
            <div>
              <h4>Private Note Sharing</h4>
            <p>Share your notes with team members or clients effortlessly. Collaborate in real-time, gather feedback, and keep everyone on the same page with seamless note sharing in Notty.</p>
            </div>
          </div>
          
        </div>
        <!-- <button>See all features</button> -->
      </section>

     
    </main>

   <%- include("../include/footer.ejs") %>

    <script>
      const s3MainOptions = document.querySelector(".sec-3-options");
      const s3Lowwer = document.querySelector(".sec-3-lowwer");
      const s3ImgOptions = [
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/note-table-view.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/board-view.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/time-tracking.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/workflow.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/project-template.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/reports.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/files.png",
      ];

      s3MainOptions.addEventListener("click", (event) => {
        // console.log(event.target); 
        if (event.target != event.currentTarget) {
          let active = 0;
          for (let i = 0; i < s3MainOptions.children.length; i++) {
            let curr = s3MainOptions.children[i];
            if (curr == event.target) {
              active = i;
            }
            curr.classList.remove("active-option-s3");
          }

          let currOption = event.target;
          currOption.classList.add("active-option-s3");
          s3Lowwer.children[1].children[0].src = s3ImgOptions[active]; //for img


          for(let i=0;i<s3Lowwer.children[0].children.length;i++){
            s3Lowwer.children[0].children[i].classList.add("unactive");
          }
          s3Lowwer.children[0].children[active].classList.remove("unactive");
          // console.log(s3Lowwer.children[0].children);
        }
      });




      const s4MainOptions = document.querySelector(".sec-4-options");
      const s4Lowwer = document.querySelector(".sec-4-lowwer");
      const s4ImgOptions = [
      "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/discussion.png","https://www.proofhub.com/wp-content/themes/ph5.1/images/home/proofing.png","https://www.proofhub.com/wp-content/themes/ph5.1/images/home/note.png","https://www.proofhub.com/wp-content/themes/ph5.1/images/home/announcement.png","https://www.proofhub.com/wp-content/themes/ph5.1/images/home/chat.png"
      ];
      
      s4MainOptions.addEventListener("click", (event) => {
        // console.log(event.target);
        if (event.target != event.currentTarget) {
          let active = 0;
          for (let i = 0; i < s4MainOptions.children.length; i++) {
            let curr = s4MainOptions.children[i];
            if (curr == event.target) {
              active = i;
            }
            curr.classList.remove("active-option-s4");
          }

          let currOption = event.target;
          currOption.classList.add("active-option-s4");
          s4Lowwer.children[1].children[0].src = s4ImgOptions[active]; //for img


          for(let i=0;i<s4Lowwer.children[0].children.length;i++){
            s4Lowwer.children[0].children[i].classList.add("unactive");
          }
          s4Lowwer.children[0].children[active].classList.remove("unactive");
          // console.log(s4Lowwer.children[0].children);
        }
      });
    </script>
  </body>
</html>
